.root {
     -fx-background-image: url("./img/bg.jpg");
}

.button {
    -fx-font-weight: bold;
}
#appTitle {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #EEEEEE;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-alignment: center;
}
